.one{
  background-color: deeppink;
  text-align: center;
  height: 120px;
  padding-top: 10px;
}
nav ul li {
  display: inline;
  margin: 50px;
}
nav ul li a{
  color: black;
  text-decoration: solid;
  font-weight: bold;
}
.products .price{
  font-weight: bold;
  margin-left: 100px;
}
.products .button{
  background-color: deeppink;
  height: 50px;
  margin-left: 85px;
}
.product{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
 
}
.contact{
  background-color: deeppink;
  height: 50px;
  text-align: center;
  padding-top: 4px;
}
